@import '../../theme/variables.scss';

.button {
  &--disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(239, 239, 239, 0.3);
    border-color: rgba(195, 195, 195, 0.3);
    cursor: not-allowed !important;
  }
}

.form {
  &__submit-btn {
    margin-left: auto;
  }
  &__reset-btn {
    margin-right: auto;
  }

  @media screen and (max-width: $breakpoint-xs) {
    &__reset-btn,
    &__submit-btn {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__field {
    margin-bottom: 10px;
  }
}
